<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body>
    <h1 class="text-center">{{eleve.prenom}} - {{eleve.nom}}</h1> <br>

    <p class="text-center">Née le :  {{eleve.datedenaissance|date('d-m-Y')}} </p>

    <p class="text-center">Dans la classe : {{eleve.classe.nom}} </p>

    <p class="text-center">Pratique : {{eleve.classe.prof.matiere.nom}}, avec son professeur principal</p>

    <p class="text-center">Son professeur : <b>{{eleve.classe.prof.nom}} {{eleve.classe.prof.prenom}}</b></p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Note</th>
                <th scope="col">Coefficient</th>
                <th scope="col">Matière</th>
                <th scope="col">Moyenne : {{eleve.nom}} </th>
            </tr>
        </thead>
    <tbody>
            <tr>
      	        {% for note in eleve.note %}
                  
                <td>{{note.note}}</td>
                <td>{{note.coefficient}}</td>
                <td>{{note.matiere.nom}}</td>
                <td>{{(note.note) * note.coefficient / 20}}</td> / nombre de notes
                {% endfor %}
            </tr>
    </tbody>
    </table>


<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('app_note_create', {id : eleve.id})}}" >Créer une note</a>
  </nav>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>