<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<div class="example-wrapper text-center">
    <h1>Tous les eleves du collège ! ✅</h1> <br><br>

   
    <ul class="text-center">

        {% for eleve in eleves %}

        <li style="list-style: none"> <b>Prénom</b> : {{eleve.prenom}}, <b>Nom</b> : {{eleve.nom}} </li> <p> <b>Dans la classe</b> : {{eleve.classe.nom}}        <a class="navbar-brand" href="{{ path('app_eleve_delete', {id: eleve.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr ?')"><i class="fa fa-trash" aria-hidden="true"></i></a></p>
        <a href="{{ path('app_eleve_details', {id: eleve.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
        <h1>------------------------------</h1>
        <br>
        {% endfor %} 
    </ul>
</div>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('app_accueil')}}" >Accueil</a>
        <a class="navbar-brand" href="{{ path('app_eleve_create')}}" >Créer un eleve</a>
  </nav>
</div>

